/*
 Theme Name:   Jazzzy
 Theme URI:    https://understrap.com
 Description:  Understrap Child Theme
 Author:       Daniel Mackenzie, Naoki Da Costa, Sandeep Kaur, Liam Williams
 Author URI:   http://example.com
 Template:     understrap
 Tested up to: 5.4
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  understrapchild
*/

/* .header {
    background-color: black;
    font-size: 14;
    color:gold;  
}

.headercontainer{
    align-items: center;
    width: 100%;
}

nav{
    align-items: center;
}

li{
font: bold;
}

ul li{
    list-style: none;
    display: inline-block;
    float: none;
    padding-right: 5%;

}

ul li a {
    text-decoration: none;
    color: black;
    float: center; */
    /*padding-right:15%;*/
    /* font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    weight: 1;   
} */


#p1pg4_2 {
    padding-bottom: 30px;
    padding-left: 70px;
}

#p1pg4 {
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
}

.flex-containerpg41 {
    display: flex;
    padding-top: 50px;
    padding-left: 70px;
}

.flex-containerpg41 > div {
    font-size: 20px;
}

.flex-containerpg4 {
    display: flex;
    padding-left: 70px;
}

.flex-containerpg4 > div {
    font-size: 20px;
}



.post-container {
    overflow: auto;
}

.post-thumb {
    float: left;
}

.post-thumb img {
    display: block;
}

.post-content {
    float:left;
    margin-left: 50px;
}

#pg2p2 {
    padding-top: 50px;
}

.flex-containerpg2 {
    display: flex;
}

.flex-containerpg2 > div {
    font-size: 20px;
}

#band {
    padding-left: 30px;
}

#time {
    padding-left: 30px;
}

.flex-containerpg21 {
    display: flex;
    padding-top: 50px;
}

.flex-containerpg21 > div {
    font-size: 20px;
}

#coming_up {
    font-size: 25px;
    padding-left: 70px;
}

#img1pg4 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
}

#img1 {
    float: left;
    padding-left: 50px;
    padding-top: 50px;
    padding-bottom: 50px;
}

#small_text {
    padding-left: 70px;
}

#h1pg3 {
    
    padding-bottom: 10px;
    padding-left: 10px;
}

#h1pg2 {
    padding-top: 50px;
    text-align: center;
}

#h1pg1 {
    padding-top: 50px;
    padding-left: 10px;
    padding-bottom: 10px;
}

#a1, #a2, #a3, #a4, #a5, #a6 {
    color: black;
    font-weight: bold;
}

#p1 {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
  }

#p2 {
    padding-top: 50px;
    padding-left: 70px;
    padding-right: 70px;
    font-size: 20px;
    text-align: center;
  }

#p3 {
    padding-left: 70px;
    padding-right: 70px;
    font-size: 15px;
    text-align: center;
  }

#p4 {
    padding-top: 30px;
    padding-bottom: 30px;
}

#background_image {
    padding-top: 75px;
    padding-bottom: 75px;
    font-size: 20px;
}

.flex-container {
    display: flex;
    padding-top: 10px;
    padding-bottom: 50px;
    padding-left: 70px;
    padding-right: 70px;
}
  
.flex-container > div {
    font-size: 20px;
    padding-right: 10px;
}

#hr1 {
	border: 1;
	border-top: 3px solid black;
}